/*

  TITLE:    Styles for new kiskolabs.com
  AUTHOR:   @viljamis + @kiskolabs
  VERSION:  0.1

  MEMO FOR CONVERSIONS:
  75%       =   12px, percentage(12 / 16)
  81.25%    =   13px, percentage(13 / 16)
  87.5%     =   14px, percentage(14 / 16)
  93.75%    =   15px, percentage(15 / 16)
  100%      =   16px, percentage(16 / 16)
  106.25%   =   17px, percentage(17 / 16)
  112.5%    =   18px, percentage(18 / 16)
  118.75%   =   19px, percentage(19 / 16)
  125%      =   20px, percentage(20 / 16)
  131.25%   =   21px, percentage(21 / 16)
  137.5%    =   22px, percentage(22 / 16)

*/

// Compass
@import "compass/css3";

// Colors
$color-black: lighten(#242321, 5%);
$color-white: #f8f8f6;
$color-beige: #9fa29b;
$color-blue: #4174a3;
$color-lightblue: #7aa6bf;

// Convert PX to EMS function
$browser-context: 18; // Has to be same as <body> font-size
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@mixin image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* RESET
--------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

img {
  -ms-interpolation-mode: bicubic;
  background: transparent;
  border: 0;
}

img, embed, object, video { 
  max-width: 100%;
  height: inherit;
  _width: 100%;
}

/* BASE
--------------------------------------------- */

.preload * {
  @include transition(none !important);
}

html {
  background: $color-white;
}

.banner {
  height: 400px;
  background: $color-lightblue;
}

html,body {
  height: 100%;
}

.wrapper {
  @include clearfix;
  position: relative;
  margin: 1em auto;
  max-width: em(1100, 18);
  height: 100%;
  width: 84%;
}

.section {
  margin: 0 0 2em;
}



/* TYPOGRAPHY
--------------------------------------------- */

body {
  font: 400 100%/1.5em "proxima-nova";
  color: $color-black;
}

h1, h2, h3, h4, h5, h6 {
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  font-family: "proxima-nova-extra-condensed";
  text-rendering: optimizeLegibility;
  margin-bottom: 1.42382em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 1.5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

sub, sup {
  vertical-align: baseline;
  position: relative;
  font-size: 65%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

h1 {
  z-index: 999;
  font-family: "proxima-nova-extra-condensed";
  margin: 0;
  text-transform: uppercase;
  color: $color-blue;
  font-weight: 300;
  line-height: .8;
  font-size: 3em;
  
  span {
    margin: .3em 0 .7em;
    display: block;
    font-family: "adrianna-extended";
    font-size: 1em;
    font-weight: 800;
    color: $color-black;
  }
}

h2 {
  margin-bottom: .35em;
  line-height: 1.5em;
  font-size: 1.5em;
}

.header {
  padding: 2em 0 1em;



  h2 {
    font-size: 1.7em;
    letter-spacing: -0.05em;
    line-height: 1;
    color: $color-beige;
  }
}

img {
  width: 100%;
  height: auto;
  margin: .5em auto 1.5em auto;
  display: block;
}

@media screen and (min-width: 40em) {
  .header {
    font-size: 200%;
  }
}

/*
  LINKS
--------------------------------------------- */

a {
  text-decoration: none;
  color: $color-blue;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    background: transparent;
    outline: none;
  }

}

/*
  TABLES
--------------------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  padding: 0;
  margin: 0 0 3em;
}

td,th {
  padding: 5px;
  border-bottom: 1px solid lighten($color-black, 40%);
}

tr {
  padding: 0;
}

th {
  text-align: left;
}

@media screen and (max-width: 610px) {

  .responsive_table table,
  .responsive_table thead,
  .responsive_table tbody,
  .responsive_table th,
  .responsive_table td,
  .responsive_table tr {
    display: block;
  }

  .responsive_table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive_table tr {
    border: 1px solid lighten($color-black, 40%);
  }

  .responsive_table td {
    border: none;
    border-bottom: 1px solid lighten($color-black, 40%);
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  .responsive_table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .responsive_table td:before {
    content: attr(data-title);
  }

}
